.content {
  padding: 1rem;
  p,
  label {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  form {
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      input {
        width: 10rem;
        border: 1px solid #e5e7eb;
        &:focus {
          border: 1px solid blue;
          outline: none;
          box-shadow: 4px 4px 2px 0px rgba(189, 188, 188, 0.75);
        }
        &:invalid:focus {
          border: 1px solid red;
        }
      }
    }
    button {
      background: #596d48;
      color: $secondary-color;
      padding: 7px 13px;
      border: 0;
      border-radius: 5px;
    }
  }
}
