.content {
  padding: 1rem;
  form {
    .form-controls div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 11rem;
      label {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 300;
      }
      input {
        width: 10rem;
        border: 1px solid #e5e7eb;
        &:focus {
          border: 1px solid blue;
          outline: none;
          box-shadow: 4px 4px 2px 0px rgba(189, 188, 188, 0.75);
        }
        &:invalid:focus {
          border: 1px solid red;
        }
      }
    }
    button {
      background: #596d48;
      color: $secondary-color;
      padding: 7px 13px;
      border: 0;
      border-radius: 5px;
    }
  }
  p {
    font-weight: 700;
  }
  p:nth-child(2) {
    margin-bottom: 3rem;
  }
  p:last-child {
    font-weight: inherit;
  }
  p a {
    color: #596d48;
    text-decoration: none;
    font-size: larger;
  }
}

@media screen and (min-width: #{$tablet-width}) {
  .content {
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
    .form-controls {
      display: flex;
      flex-flow: row wrap;
    }
  }
}

@media screen and (min-width: #{$lg-screens}) {
  .content {
    width: 40%;
    margin: 0 auto 0 10px;
  }
}
