@font-face {
  font-family: 'Norse Bold';
  src: url(../assets/fonts/Norse-Bold.otf);
}

.image-sidebar {
  position: relative;
  .image {
    img {
      width: 100%;
      height: 50vh;
    }
  }
  .logo-container {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    img {
      width: 50px;
      height: 80px;
    }
    h2 {
      text-transform: capitalize;
      color: $secondary-color;
      font-family: 'Norse Bold';
    }
  }
  .image-credit {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  p,
  a {
    color: $secondary-color;
  }
}

@media screen and (min-width: #{$tablet-width}) {
  .image-sidebar {
    height: 100vh;
    .image {
      img {
        height: 99vh;
      }
    }
  }
}
